body {
  background-color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /*color: LawnGreen;*/
    font-family: verdana;
    font-size: 300%;
    padding: 30px;
    margin: 50px;
}

/* p {
    color: Chartreuse;
    font-family: courier;
    font-size: 120%;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
} */

/* Style the header */
header {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: Lime;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 30px;
    color: Chartreuse;
    font-family: courier;
    font-size: 120%;
    border: 3px solid orange;
    margin: 50px;
}

footer {
    padding: 10px;
    text-align: center;
    color: Lime;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.icon {
  width: 1em;
  height: 1em;
  color: HotPink;
  vertical-align: -.125em;
}

.warning {
   color: Red;
   font-size: 180%;
   text-align: center;
/* font-family: courier;
   border: 1px solid powderblue;
   padding: 30px;
   margin: 50px; */
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: Orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #555;
  color: white;
}

.topnav .icon {
  width: 1.3em;
  height: 1.3em;
  color: OrangeRed;
  vertical-align: -.25em;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

.login .pane {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 300px;
    height: 250px;
    
    background: #f0f0fd;
    background: rgba(240,240,253,0.90);
    padding: 22px 32px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

.login .misc
{
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
}

.login footer {
	background: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
}
.login .misc, .login .misc a{color: white;}
.login footer a:hover {color: #9CF;}
</style>

